@font-face
{
	src: url('../fonts/Oswald-Bold.ttf');
}

@font-face
{
	src: url('../fonts/Roboto-Regular.ttf');
}

.input
{
	-fx-font-family: 'Roboto';
	-fx-font-size: 16px;
	-fx-text-fill: #333333;
}

.label
{
	-fx-font-family: 'Roboto';
	-fx-font-size: 16px;
}

.titulo
{
	-fx-font-family: 'Oswald';
	-fx-font-size: 36px;
}

.boton-submit
{
	-fx-background-size: 300% 100%;
	-fx-background-color: #6A72EF;
	-fx-background-radius: 5px;
	-fx-font-family: 'Oswald';
	-fx-font-size: 16px;
}

