.root{}

@font-face
{
	src: url('../fonts/Oswald-Bold.ttf');
}

@font-face
{
	src: url('../fonts/Roboto-Regular.ttf');
}

.titulo
{
	-fx-font-family: 'Oswald';
	-fx-font-size: 24px;
}

.bienvenida
{
	-fx-font-family: 'Oswald';
	-fx-font-size: 50px;
}
.panel
{
    -fx-background-color: #5b5b5b;
}

.panel:hover
{
    -fx-background-color:  #6a72ef;
}

.panelNaranjo
{
    -fx-background-color: #333333;
}

.panelNaranjo:hover
{
    -fx-background-color: #E26900;
}

